.chart_bar_tooltip {
   width: 40px;
   height: 50px;
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: var(--primary-dark-color);
   color: white;
   font-size: 7px;
   font-weight: 500;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.chart_bar_legend_item {
   color: var(--grey-text-color);
}